#!/bin/bash

source .env

if [ "$MULTICOLLATERAL" = true ]; then
    echo "Enter bucket to operate:"
    read BUCKET

    if [[ ! " $BUCKETS " =~ " $BUCKET " ]]; then
    echo "Error: Invalid bucket."
    exit 1  # Salir con código de error
    fi

    export MOC_PROJECT="${MOC_PROJECT}_${BUCKET}"
    echo "MOC_PROJECT is now: $MOC_PROJECT"

    CONTRACT_MOC_VAR="CONTRACT_MOC_${BUCKET}"
    export CONTRACT_MOC=${!CONTRACT_MOC_VAR}
     echo "CONTRACT_MOC is now: $CONTRACT_MOC"
fi